---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getEixosTematicos } from '../common/eixosTematicos';
import { Image } from 'astro:assets';

const eixosTematicos = await getEixosTematicos();

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-screen flex flex-col justify-between">
		<Header />
		<main class="relative flex-grow w-full">
			<div id="background-image" class="absolute top-0 left-0 w-full h-full -z-10 opacity-15">
				<img src="/images/background.jpeg" alt="Background image" class="w-full h-full object-cover" />
			</div>
			<div class="w-full max-w-4xl mx-auto px-4">
				<div class="relative flex justify-center items-center mb-8">
					<div class="absolute left-0 lg:left-[158px] hidden lg:block">
						<img src="/anglo_logo.png" alt="Astro logo" width="72" height="72" />
					</div>
					<div class="pl-8 font-bold">
						<h2 class="text-[color:var(--color-primary)] text-5xl">
						  {
							[...'RepertoriAnglo'].map((char, index) => {
								if (index % 3 === 0) return <span class="text-[color:var(--color-primary)]">{char}</span>;
								if (index % 3 === 1) return <span class="text-accent-dark">{char}</span>;
								if (index % 3 === 2) return <span class="text-blue-anglo">{char}</span>;
							  return char;
							})
						  }
						</h2>
					</div>
				</div>
				<p class="text-center">
					Um site feito por nós, alunos do <span class="font-bold">Colégio Anglo de Boituva</span>, para quem também está se preparando para o vestibular. Aqui no <span class="font-bold">RepertoriAnglo</span>, reunimos repertórios construídos em sala de aula, explicados e aplicados, para ajudar outros estudantes a estudar de forma mais leve e prática. Vem com a gente!
				</p>
	
				<section>
					<ul class="flex flex-wrap w-full justify-center place-items-center">
						{eixosTematicos.map((link, idx) => (
							<li class={`relative flex flex-col items-center justify-center w-full p-2 rounded-lg overflow-hidden${idx !== eixosTematicos.length - 1 ? ' sm:w-1/2' : ''}`}>
								<img class="absolute -z-10 top-0 left-0 w-full object-cover p-2 rounded-lg" src="images/default-bg.jpg" alt="" style="height:100%" />
								<a class="absolute top-[50%] translate-y-[-50%] px-8 sm:px-[50px]" href={link.href}>
									<h5 class="text-slate-50 bg-opacity-50 px-2 py-1 rounded text-center">{link.title}</h5>
								</a>
								<a href={link.href}>
									{link.image && <Image class="w-100 h-full object-cover opacity-30 rounded-lg" style="max-height: 100px;" src={link.image} alt="" />}
								</a>
							</li>
						))}
					</ul>
				</section>
	
				<!-- <section>
					<ul>
						<li><a href="/blog/">← Back to all posts</a></li>
					</ul>
				</section> -->
			</div>
		</main>
		<Footer />
	</body>
</html>
